<form action="sign_up.php" style="border:1px solid #ccc">
    <form action="/sign_up.php">
        <div class="container">
            <label for="usrname">Username</label>
            <input type="text" id="usrname" name="usrname" required>

            <label for="psw">Password</label>
            <input type="password" id="psw" name="psw" minlength="4" required

        </div>
        <input type="submit" value="Submit">
    </form>

    <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="length" class="invalid">Minimum <b>4 characters</b></p>
    </div>
</form>

<script>
    var username = document.getElementById("usrname")
    var password = document.getElementById("psw")
    var jsonBtn = document.getElementById("submit")
    var jsonText = document.getElementById("jsontext")

    jsonBtn.addEventListener("click", function(){
        var data = {
            "username":username.value,
            "password":password.value
        }
        //convert JavaScript object to JSON
        jsonText.innerHTML = JSON.stringify(data)
    })
</script>